<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128030966804-9kcarnc7iv4uisnottiv353dkvp1scef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128030966804-9kcarnc7iv4uisnottiv353dkvp1scef</string>
	<key>API_KEY</key>
	<string>AIzaSyBmxkOdPy6MzGBlsrmnqpexTAN2-dNduyM</string>
	<key>GCM_SENDER_ID</key>
	<string>128030966804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.product.fbauth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-389ea</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-389ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128030966804:ios:629a3dc9047bb7aa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-389ea.firebaseio.com</string>
</dict>
</plist>